.tarefaIncompleta {
    background-color: aliceblue;
    color: #2563EB;
    width: 180px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #2563EB;
    padding: 10px;
    margin-bottom: 5px;
}

.tarefaCompleta {
    background: rgb(245, 245, 214);;
    color: blue;
    width: 180px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #2563EB;
    text-decoration: line-through;
    border: 1px solid #2563EB;
    padding: 10px;
    margin-bottom: 5px;

}


.descricaoTarefa{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.editarTarefa{
    display: flex;
    flex-direction: column;
}

.editarTarefa input{
    border: 1px solid #2563EB;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.tarefa{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

@media(max-width:425px){
    .tarefaCompleta,
    .tarefaIncompleta{
        width: 200px;
       
    }

    .tarefas{
        display: flex;
        justify-content: center;
    }
}


