/* .botoesContainer {
    width: 80;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;


}

.botoesContainer button {
    width: 25%;
    margin: 0 auto;
    padding: 10px;
    background-color: #2563EB;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    opacity: 1;

}

.botoesContainer button:hover {
    opacity: .7;
} */

.botoesContainer button{
    height: 50px;
    border: none;
    background-color: #2563EB;
    color: white;
    text-transform: uppercase;
    margin-right: 15px;
    font-weight: bold;
    opacity: 1;
}

.botoesContainer button:hover{
    opacity: .7;
    border-bottom: 1px solid white;
}