

.listContainer {
    width: 80%;
    margin: 0 auto;

}

.tituloList {
    background-color: #2563EB;
    color: white;
    border-radius: 10px;
    padding: 10px;
}



.estatisticasPesquisa{
    display: flex;
    flex-direction: row;
}


.botao2 {
    width: 25%;
    margin: 0 auto;
    padding: 10px;
    background-color: #2563EB;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    

}

.tituloFiltro{
    background-color: #2563EB;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.botao2:hover{
    background-color: white;
    color: #2563EB;
}

.descricaoTarefa{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.editarTarefa{
    display: flex;
    flex-direction: column;
}

.editarTarefa input{
    border: 1px solid #2563EB;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.tarefas{
    border: 1px solid blue;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    
}

.sortActions{
    display:flex
}

@media (max-width:1024px){
    .estatisticasPesquisa{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:768px){
    .tituloFiltro{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:425px){
    .sortActions{
        display: flex;
        flex-direction: column;
    }
}

