.actionsContainer {
    
    background-color: aliceblue;
    text-align: center;
    color: #2563EB;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.botao3 {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #2563EB;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    
    cursor: pointer;
    transition: .5s;


}

.botao3:hover {
    background-color: white;
    color: #2563EB;
}

.actionsContainer label{
    display: flex;
    justify-content: center;
    gap: 10px;
}

