.pesquisa {
    border: 1px solid #2563EB;
    width: 100%;
    gap: 10px;
    background-color: aliceblue;
    color: #2563EB;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;

}

.pesquisa input {
    width: 200px;
    min-width: 180px;
    max-width: 220px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #2563EB;
    margin-bottom: 10px;
}

.pesquisa h2 {
    margin-bottom: 10px;
}

@media(min-width:768px){
    .pesquisa input {
        width: 70%;
        max-width: 500px;
    }
}