.botoesContainer button {
    height: 50px;
    border: none;
    background-color: #2563EB;
    color: white;
    text-transform: uppercase;
    margin-right: 15px;
    font-weight: bold;
    opacity: 1;
}

.botoesContainer button:hover {
    opacity: .7;
    border-bottom: 1px solid white;
}

@media(max-width: 425px) {
    .botoesContainer button {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        height: 25px;

    }
}